
html,
body {
    overflow-x: hidden;
    max-width: 100vw;
    position: relative;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.siteWrapper,
.mainContent,
.pageHome {
    overflow-x: hidden;
    max-width: 100vw;
    width: 100%;
}


img,
video {
    max-width: 100%;
    height: auto;
}


body {
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}


.siteWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;                    
}


.mainContent {
    flex: 1;
    padding: 40px;
    background: #ffffff;
}

@media (max-width: 768px) {
    .mainContent {
        padding: 0;
    }
}